In [84]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sns

import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')
%matplotlib inline

In [5]:
strava = pd.read_csv("strava_activity.csv")

In [6]:
strava.head()

,achievement_count,athlete.badge_type_id,athlete.city,athlete.country,athlete.premium,athlete.resource_state,athlete.sex,athlete.state,athlete_count,average_cadence,...,start_latlng,start_longitude,suffer_score,timezone,total_elevation_gain,total_photo_count,trainer,type,weighted_average_watts,workout_type
0,6,0,Quito,Ecuador,0,2,F,Pichincha,3,NaN,...,[-0.17 -78.49],-78.49,NaN,(GMT-05:00) America/Guayaquil,476.3,0,0,Ride,NaN,NaN
1,0,0,Oisterwijk,The Netherlands,0,2,M,NB,1,NaN,...,[38.68 0.09],0.09,NaN,(GMT+01:00) Europe/Madrid,456.9,0,0,Ride,NaN,0.0
2,8,0,Ypsilanti,United States,0,2,M,MI,2,NaN,...,[42.42 -83.96],-83.96,NaN,(GMT-05:00) America/Detroit,292.2,0,0,Ride,NaN,NaN
3,11,1,Harrogate,United Kingdom,1,2,F,England,2,NaN,...,[53.93 -1.82],-1.82,NaN,(GMT+00:00) Europe/London,1273.3,0,0,Ride,NaN,0.0
4,0,0,Alamo,United States,0,2,F,CA,1,NaN,...,[37.86 -121.97],-121.97,NaN,(GMT-08:00) America/Los_Angeles,166.6,0,0,Hike,NaN,NaN

In [45]:
#question 1
#do men tend to exercise more intensely than woman? (taking into account both distance and speed)
exercise = strava[['athlete.sex', 'distance', 'average_speed']].copy()
exercise = exercise[~(exercise == 0).any(axis=1)]
exercise.head()
cal_exercise = exercise.groupby(['athlete.sex']).describe()
cal_exercise
#By calculating the mean distance and speed group by sex, we get that the mean distance for female is 16350.02 which is 
#less than the mean distance for male which is 27965. The mean speed for men is also quicker.
#The result shows that men tend to exercise more intensely than woman

            average_speed                                              \
                    count      mean        std    min      25%    50%
athlete.sex
F                  3710.0  3.731499   2.098558  0.002  2.36825  3.018
M                  3996.0  6.001249  32.811387  0.001  3.24500  5.410

                               distance                                   \
                 75%       max    count          mean           std  min
athlete.sex
F            5.16675    40.066   3710.0  16350.636819  23980.975326  0.2
M            7.07200  1888.900   3996.0  27965.042192  33656.398012  2.4


                  25%      50%        75%       max
athlete.sex
F            4723.350   8152.7  19251.175  743883.0
M            7589.575  17103.9  38443.175  938421.0

In [68]:
#question 2 must include one of the following: Kudos count, athlete country, location country, name

country = strava['athlete.country'].to_frame().copy()
#country.head()
#country.dtypes()
#country['athlete.country'].dtype.kind
#country.groupby(['athlete.country'])

In [100]:
#The number of kudos given for this activity
athlete_data = strava[['location_country', 'athlete.country','kudos_count', 'athlete.sex', 'max_speed', 'name','type']].copy()

In [116]:
athlete_data.head()

,location_country,athlete.country,kudos_count,athlete.sex,max_speed,name,type
0,Ecuador,Ecuador,0,F,10.9,"Mitro"""" :)",Ride
1,Spain,The Netherlands,0,M,12.3,Ochtendrit,Ride
2,United States,United States,4,M,14.4,Enough time for a quick and hot 14,Ride
3,United Kingdom,United Kingdom,6,F,17.3,Ilkley Grassington Buckden and back,Ride
4,United States,United States,0,F,4.6,Morning Short hike,Hike

In [102]:
count = athlete_data.groupby(['athlete.sex', 'type']).sum()

In [111]:
#compare the kudos count and max_speed for both male and female for a specific sport.
count

                             kudos_count  max_speed
athlete.sex type
F           AlpineSki                  8     39.900
            BackcountrySki            19     18.200
            Crossfit                   0     15.200
            Elliptical                 0      0.000
            Hike                      40     82.000
            Kayaking                   5     10.800
            NordicSki                 15    104.700
            Ride                    6012  18964.221
            RockClimbing               3      0.000
            Rowing                     0      3.400
            Run                     3842   9769.400
            Snowboard                 18     30.800
            Snowshoe                   4      1.400
            StandUpPaddling            0      8.100
            Swim                     231    139.100
            VirtualRide               18     61.900
            Walk                      96    718.100
            WeightTraining             9      4.000
            Workout                   57     59.700
            Yoga                      15      0.100
M           AlpineSki                  7     65.800
            BackcountrySki             0      7.800
            Crossfit                   6      5.800
            EBikeRide                  1     11.700
            Elliptical                16      0.000
            Hike                       7     89.000
            IceSkate                   0     27.400
            Kayaking                   0      2.200
            NordicSki                 13     86.800
            Ride                   10145  38189.386
            Run                     1727   5792.100
            Snowboard                  1     10.700
            Swim                     295    109.400
            VirtualRide              156    273.700
            Walk                      42    253.000
            WeightTraining            11      0.000
            Workout                   41     62.900
            Yoga                       0      0.000

In [114]:
female = count['athlete.sex' == 'F'].copy()
#count.describe(athele.sex = 'F')
#The following graph shows for different type of sports,what's the max_speed for both female and male.

KeyError: False